html{
    background-color: black;
}

.div1{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img{
    width: 100%;
    border-color: white;
    border: 5px solid white;
}

.title{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.quote{
    color: white;
    text-align: center;
}

.author{
    color: white;
    text-align: right;
}